GITHUB_TOKEN=your github token
GITHUB_USERNAME=your github username
GROQ_API_KEY=your groq api key
DATABASE_URL=mongodb+srv://<user>:<pass>@cluster.mongodb.net/portfolio?retryWrites=true
HOSTED_URL=your vercel url